@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    outline: 0;
    margin: 0;
    padding: 0;
    background-color: #E8E8E8;
    font-family: "Roboto";
}

body{
    overflow: hidden;
}

.main-image{
   height: 100vh;
   z-index: -1;
}

.container{
    display: flex;
    flex-direction: row;
}


.nav-bar{
   position: absolute;
   top: 30px;
   display: flex;
   justify-content: space-between;
   width: 100vw;
   background-color: transparent;
}

.hr{
    background-color: black;
    margin-top: 8px;
    height: 2px;
    margin-left: 200px;
}

.list-items{
    padding-left: 30px;
    text-decoration: none;
    font-size: 20px;
    color: gray;
}

.left-content{
    width: 600px;
    
}

.right-content{
    margin-left: 10px;
    width: 800px;
    height: 100vh;
    margin-right: 50px;
   
}

.heading{
    margin-top: 40px;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    line-height: 130px;
}

.right-paragraph{
    font-size: 40px;
    color:  gray;
    position: relative;
    left: 550px;
    width: 100px;
    top: -60px;  
}

.span{
    color: transparent;
}

button{
    height: 50px;
    width: 180px;
    background-color:#333333;
    color: #E8E8E8;
    font-size: 14px;
}


.top{
    padding: 20px;
    font-style: italic;
    font-size: 150px;  
    color: rgba(0, 0, 0, 0); 
    -webkit-text-stroke: 0.1px black;
}

.bottom{
    font-size: 120px;
    margin-left: 230px;
    font-style: italic;  
}

.button{
    height: 70px;
    width: 300px;
    margin-left: 500px;
    margin-top: -50px;
    border: 0px;
    padding: 10px;
}

.bottom-list{
    width: 250px;
    margin-left: 30px;
    height: 200px;
    margin-top: -220px;
}

.list-item{
    padding: 15px 0px;
}

.stroke{
    font-style: italic;
    font-size: 80px;
    margin-left: 300px;
    margin-top: -180px;
}

.bottom-paragraph{
    font-size: 18px;
    font-style: italic;
    text-align: center;
    margin-left: 90px;
    margin-top: -40px;
}


.dance{
    height: 250px;
    width: 400px;
    position: relative;
    right: -250px;
    bottom: -10px;
}

.arrow{
    height: 100px;
    width: 100px;
    position: relative;
    right: -300px;
    color: aliceblue;
}

.social-icon{
    list-style: none;
    padding: 20px 0px;
}


.social-meida-icons{
  position: relative;
  left: 800px;
  top: -300px;
}
@media screen and (max-width:415px){    
    body{
        padding: 0%;
        margin: 0%;
        overflow: hidden;
    }
    .left-content{
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin: auto;
        height: 500px;
    }
    .nav-bar{
        display: flex;
        flex-direction:column;
        justify-content: center;    
        gap: 20px;
    }
    .logo{
        display: flex;
        flex-direction:column;
        justify-content: center;
        width: 220px;
        margin-left: 100px;
    }
    .list-items{
        gap: 20px;
        display: flex;
        flex-direction:column;
        justify-content: center;
        margin: auto;
    }
    .hr{
        margin-left: 160px;
    }
    .right-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
    .heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        position: relative;
        bottom: -500px;
        right: 800px;
    }
    .heading h1{
        font-size: 130px;
        line-height: 100px;
        width: 350px;
        margin-left: 160px;
    }
    .right-paragraph{
        display: flex;
        flex-direction: column;
        position: relative;
        left: -400px;
        top: 500px;
        font-size: 25px
    }
    .button{
        position: relative;
        left: -1000px;
        top: 600px;
        width: 200px;
    }
    .social-meida-icons{
        display: flex;
        flex-direction: column;
        position: relative;
        left: -550px;
        width: 50px;
        top: 700px;
        font-size: 30px;
    }
    .bottom-list{
        position: relative;
        left: -450px;
        top: 610px;
    }
    .stroke{
        position: relative;
        left: -550px;
        top: 250px;
        font-size: 50px;
        width: 40px;  
    }
    .bottom-paragraph{
        position: relative;
        left: -750px;
        top: 1000px;
        font-size: 18px;
        text-align: center;
        justify-content: center;
        margin: auto;
    }
    .dance{
       position: relative;
       left: -550px;
       top: 1300px; 
       width: 300px;
    }
    .arrow{
        position: relative;
        left: -550px;
        top: 900px;
    }
    .bg{
        height: 950px;
        width: 300px;
        position: relative;
        left: -550px;
        top: 200px;
        opacity: 0.2;
    }
}

